{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="text-center">Connectez-vous pour accéder à l'API</h1>
        <div class="row pt-5">
            <div class="col-12 text-center">
                <a class="btn btn-outline-danger" href="{{ path("login_google") }}" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Se connecter avec Google
                </a>
            </div>
        </div>
    </div>
{% endblock %}
